# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
*.class
*.jar
*.war

# IDE
.idea/
*.iml
.vscode/
.settings/
.project
.classpath

# OS
.DS_Store
Thumbs.db

# Obsidian
.obsidian/

# Logs
*.log

# Compiled output
BOOT-INF/
